.css-96uuyl {
  margin-left: 0px !important;
  width: 100% !important;
}
.srch {
  position: relative;
  width: initial;
  margin: 0 20px;
}
.srch input {
  width: 100%;
}
.css-1083xa6-MuiTypography-root {
  overflow: visible !important;
}
.suggestions {
  position: absolute;
  background: rgb(255, 255, 255) !important;
  width: 100%;
  z-index: 50;
  top: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #00000057;
}
.suggestion {
  color: #7e7e7e;
  cursor: pointer;
  padding: 5px 12px;
  font-size: 19px;
  transition: 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.suggestion:hover {
  background-color: rgb(230, 230, 230);
}
.suggestionName {
  margin-left: 9px;
  pointer-events: none;
}
.profileIcon {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 6px #00000040;
}
.MuiAvatar-root.MuiAvatar-circular.css-1wlk0hk-MuiAvatar-root {
  box-shadow: 0 0 6px #0000007d;
}