.css-96uuyl {
  margin-left: 0px !important;
  width: 100% !important;
}
.srch {
  position: relative;
  width: initial;
  margin: 0 20px;
}
.srch input {
  width: 100%;
}
.css-1083xa6-MuiTypography-root {
  overflow: visible !important;
}
.suggestions {
  position: absolute;
  background: rgb(255, 255, 255) !important;
  width: 100%;
  z-index: 50;
  top: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 8px #00000026;
}
.suggestion {
  color: #7e7e7e;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 15px;
  transition: 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.suggestion:hover {
  background-color: rgb(240, 240, 240);
}
.suggestion:active {
  background-color: rgb(235, 235, 235);
}
.suggestionName {
  margin-left: 12px;
  pointer-events: none;
}
.suggestion .MuiAvatar-root.MuiAvatar-circular.css-1wlk0hk-MuiAvatar-root {
  width: 32px;
  height: 32px;
}
.MuiAvatar-root.MuiAvatar-circular.css-1wlk0hk-MuiAvatar-root {
  box-shadow: 0 0 6px #0000007d;
}
.css-1083xa6-MuiTypography-root {
  font-family: "Poppins", sans-serif !important;
}
